#header {
    background-color: grey;
    padding: 1px;
    color: white;
}

#content {
}

#footer {
    border: 1px solid grey;
    background-color: black;
    color: grey;
    font-size: 12px;
    padding: 5px;
}
